---
export interface Props {
  frontmatter: {
    title: string
    date: string
    author?: string
    abstract?: string
    imgUrl?: string
    imgDescription?: string
  }
}

const { frontmatter } = Astro.props

const title = frontmatter.title
const date = frontmatter.date
const author = frontmatter.author ?? 'Blazej Sewera'
const abstract = frontmatter.abstract ?? ''
const imgUrl = frontmatter.imgUrl ?? ''
const imgDescription = frontmatter.imgDescription ?? ''
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style/swisstypefaces.css" />

    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={abstract} />
    <meta name="author" content={author} />
    <meta name="created" content={date} />
    <meta name="date" content={date} />

    <meta name="dcterms.title" content={title} />
    <meta name="dcterms.date" content={date} />
    <meta name="dcterms.abstract" content={abstract} />
    <meta name="dcterms.creator" content={author} />
    <meta name="dcterms.language" content="en-US" />
    <meta name="dcterms.license" content="CC BY-SA 4.0" />
    <meta name="dcterms.rights" content={`CC BY-SA 4.0 ${author}`} />

    <meta name="og:title" content={title} />
    <meta name="og:image" content={imgUrl} />
    <meta name="og:image:alt" content={imgDescription} />
    <meta name="og:type" content="article" />
    <meta name="og:description" content={abstract} />
    <meta name="og:site_name" content="blog.sewera.dev" />
    <meta name="article:published_time" content={date} />
    <meta name="article:author" content={author} />

    <title>{title} — blog.sewera.dev</title>
  </head>
  <body class="font-sans">
    <div id="ribbon">
      <div id="menu-ribbon-button" class="flex cursor-pointer">
        <img src="/menu.svg" alt="menu" />
        <span>{title}</span>
        <div>
          <a class="flex" href="/"
            ><img class="logo" src="/logo-white.svg" alt="home" />
          </a>
        </div>
      </div>
    </div>

    <div id="screen-image" class="padding-big text-white">
      <div class="header-image flex margin-bottom-header">
        <span class="brand center-y-flex font-bigger">
          <a href="/" title="Błażej Sewera" class="text-white weight-normal"
            >blog.sewera.dev</a
          >
        </span>
        <span
          id="menu-image-button"
          class="flex right-x-flex icon-wrapper cursor-pointer"
        >
          <img src="/menu.svg" alt="menu" />
        </span>
      </div>
      <div class="text-image flex">
        <h1 class="center-x-y-flex font-huge">{title}</h1>
      </div>
    </div>

    <article>
      <div class="post-wrapper flex">
        <div id="post-content" class="post-content">
          <slot />
        </div>
      </div>
    </article>

    <div class="footer flex">
      <img src="/logo-black.svg" alt="[magpie]" class="center-x-flex" />
    </div>
  </body>
</html>

<style is:global define:vars={{ imgUrl }}>
  /* Ribbon that will contain post title */
  #ribbon {
    height: 420px;
  }

  /* Title with an image */
  div#screen-image {
    background-image: var(--imgUrl);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: border-box;
    background-clip: border-box;
    background-color: hsl(0, 0%, 20%);
  }

  /* Additional spacing rules only for portfolio listing */
  .post-content {
    color: hsl(0, 0%, 30%);
    margin: 3rem auto 30px auto;
    width: 45rem;
  }

  .post-content i,
  .post-content em {
    font-family: "Suisse Int'l", 'Helvetica Neue', 'Helvetica',
      'Liberation Sans', 'Arial', sans-serif;
    font-style: italic;
    font-weight: 400;
  }

  .post-content b,
  .post-content strong {
    font-family: "Suisse Int'l", 'Helvetica Neue', 'Helvetica',
      'Liberation Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
  }

  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    margin: 0.8em 4rem;
    max-width: 37rem;
    color: hsl(0, 0%, 40%);
  }

  .post-content h2 {
    font-size: 48px;
  }
  .post-content h3 {
    font-size: 36px;
  }
  .post-content h4 {
    font-size: 24px;
  }

  .post-content p,
  .post-content > ul,
  .post-content > ol {
    max-width: 37rem;
    margin: 0 4rem 2rem 4rem;
    line-height: 1.55;
    letter-spacing: 0.018em;
  }

  .post-content code {
    font-family: "Suisse Int'l Mono", monospace;
    font-size: 85%;
    padding: 0.2rem 0.4rem;
    border-radius: 6px;
    white-space: pre;
    word-break: break-all;
    background-color: hsla(210, 12%, 12%, 0.05);
  }

  .post-content code.block,
  pre.astro-code > code {
    max-width: 35rem;
    margin: 1rem 4rem 2rem 5.2rem;
    padding-left: 0.8rem;
    display: block;
    overflow-x: auto;
    border-left: 8px solid hsl(0, 0%, 90%);
    border-radius: 0;
    background: none;
  }

  .post-content p > code.block,
  .post-content p > pre.astro-code {
    margin: 1rem 2rem 2rem 1.2rem;
  }

  .post-content img {
    max-width: 37rem;
    display: block;
    margin: 0 auto;
  }
  .post-content img.wide {
    max-width: 45rem;
  }

  .post-content figure {
    margin: 1rem 0 2rem 0;
  }

  .post-content figcaption {
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
  }

  .margin-bottom-header {
    margin-bottom: 120px;
  }

  /* For smaller screens */
  @media (min-width: 768px) and (max-width: 1300px) {
    .post-content {
      margin: 2rem auto 20px auto;
    }

    .post-content h2 {
      font-size: 36px;
    }
    .post-content h3 {
      font-size: 24px;
    }
    .post-content h4 {
      font-size: 20px;
    }

    .post-content p,
    .post-content > ul,
    .post-content > ol {
      line-height: 1.6;
      letter-spacing: 0.021em;
    }

    .post-content figure {
      margin: 16px 0;
    }

    .post-content figcaption {
      font-size: 14px;
    }

    .margin-bottom-header {
      margin-bottom: 80px;
    }
  }

  @media (max-width: 767px) {
    #ribbon {
      height: 45px;
    }

    .post-content {
      margin: 2rem 0 10px 0;
      min-width: 1px;
      width: 100vw;
      box-sizing: border-box;
    }

    .post-content h2,
    .post-content h3,
    .post-content h4,
    .post-content h5,
    .post-content h6 {
      margin: 0.8em 30px;
    }

    .post-content h2 {
      font-size: 26px;
    }
    .post-content h3 {
      font-size: 22px;
    }
    .post-content h4 {
      font-size: 20px;
    }

    .post-content p,
    .post-content > ul,
    .post-content > ol {
      margin: 0 30px 2rem 30px;
      max-width: 37rem;
      line-height: 1.6;
      letter-spacing: 0.021em;
    }

    .post-content code.block,
    pre.astro-code > code {
      margin: 1rem 30px 4rem 30px;
    }

    .post-content figure {
      margin: 16px 0;
    }

    .post-content figcaption {
      font-size: 12px;
    }

    .post-content img {
      max-width: calc(100vw - 60px);
    }

    .post-content img.wide {
      max-width: unset;
      width: 100vw;
    }

    .margin-bottom-header {
      margin-bottom: 40px;
    }
  }

  /* The defaults of the document */
  html {
    font-size: 18px;
    font-family: "Suisse Int'l", 'Helvetica Neue', 'Helvetica',
      'Liberation Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: hsl(0, 0%, 50%);
    background-color: white;
  }

  body {
    overflow-x: hidden;
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }
  a:hover {
    text-decoration: underline;
  }

  :focus {
    outline: none;
  }
  ::-moz-focus-inner {
    border: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Euclid Circular B', Futura, 'Trebuchet MS', Arial, sans-serif;
    font-weight: 500;
  }

  p {
    max-width: 25em;
  }
  .shorter-line {
    max-width: 20em;
  }
  .annotation-line {
    max-width: 12em;
  }

  strong {
    font-weight: 400;
    color: hsl(0, 0%, 7%);
  }

  /* Reusable classes */

  .flex {
    display: flex;
  }

  .two-column-grid {
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: calc(50% - 40px) calc(50% - 40px);
    grid-template-rows: auto auto;
    grid-template-areas:
      'column-left column-right'
      'column-left column-right';
    box-sizing: border-box;
    width: 100%;
  }
  .column-left {
    grid-area: column-left;
  }
  .column-right {
    grid-area: column-right;
  }

  .padding-big {
    padding: 120px;
  }
  .non-bullet-ul {
    list-style-type: none;
    padding-left: 0;
  }

  a.button {
    display: inline-block;
    min-width: 150px;
    padding: 0.6em 1.2em;
    background-color: hsl(181.8, 47.5%, 32.4%);
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    transition-property: background-color;
    transition-duration: 200ms;
  }
  a.button:hover {
    background-color: hsl(181.8, 47.5%, 52.4%);
  }

  .footer {
    padding: 30px 0;
  }

  /* alignment */
  .right-x-flex {
    margin-left: auto;
  }
  .center-x-flex {
    margin-left: auto;
    margin-right: auto;
  }
  .center-y-flex {
    margin-top: auto;
    margin-bottom: auto;
  }
  .center-x-y-flex {
    margin: auto;
  }

  /* fullscreen but scrollable */
  .fullscreen {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }

  /* font properties */
  .euclid {
    font-family: 'Euclid Circular B', Futura, 'Trebuchet MS', Arial, sans-serif;
    font-weight: 500;
  }
  .text-white {
    color: hsl(0, 0%, 100%);
  }
  .weight-normal {
    font-weight: 400;
  }

  .font-small {
    font-size: 12px;
  }
  .font-normal {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.018em;
  }
  .font-big {
    font-size: 24px;
    line-height: 1.4;
  }
  .font-bigger {
    font-size: 36px;
  }
  .font-biggest {
    font-size: 48px;
  }
  .font-huge {
    font-size: 72px;
  }
  .font-display {
    font-size: 144px;
    margin: 0;
    padding: 20px;
    line-height: 0.9;
    letter-spacing: -0.05em;
    word-break: break-all;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 3.2em;
  }

  .interest-containter {
    padding: 80px;
    box-sizing: border-box;
    width: 500px;
    height: auto;
    text-align: center;
  }
  .interest-containter > h3 {
    margin: 0;
  }
  .interest-containter p.annotation-line {
    margin: 8px auto 30px auto;
  }

  .display-secondary-tinted {
    color: hsl(181.8, 30%, 75%);
  }

  .display-turquoise-tint-3 {
    background-color: hsl(181.8, 37.5%, 93%);
    color: hsl(181.8, 40%, 20%);
  }
  .display-turquoise-tint-2 {
    background-color: hsl(181.8, 47.5%, 90%);
    color: hsl(181.8, 40%, 20%);
  }
  .display-turquoise-tint-1 {
    background-color: hsl(181.8, 47.5%, 84%);
    color: hsl(181.8, 40%, 20%);
  }
  .display-turquoise {
    background-color: hsl(181.8, 47.5%, 72.4%);
    color: hsl(0, 0%, 100%);
  }
  .display-turquoise-shade-1 {
    background-color: hsl(181.8, 47.5%, 52.4%);
    color: hsl(0, 0%, 100%);
  }
  .display-turquoise-shade-2 {
    background-color: hsl(181.8, 47.5%, 32.4%);
    color: hsl(0, 0%, 100%);
  }
  .display-turquoise-shade-3 {
    background-color: hsl(181.8, 47.5%, 12.4%);
    color: hsl(0, 0%, 100%);
  }

  .icon-wrapper > img {
    margin: auto 0 auto 0;
    height: 36px;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  /* The top portion: blazej sewera. and menu button */

  div.header-image {
    height: 48px;
  }

  div.header-image > .brand > a:hover {
    text-decoration: none;
  }

  /* The middle portion: I write code and design things */

  div.text-image {
    width: 100%;
    height: calc(100% - 48px - 120px);
    position: relative;
    box-sizing: border-box;
    top: 0;
    left: 0;
    font-size: 72px;
  }

  /* The bottom portion: magpie logo */

  div.logo-image > img {
    height: 120px;
  }

  /* Ribbon with hamburger menu showed after scrolling */

  #ribbon {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: -50px;
    top: 80px;
    box-sizing: border-box;
    width: 50px;
    height: 260px;
    padding: 15px 5px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    z-index: 68;
    transition-property: right;
    transition-duration: 200ms;
  }
  #ribbon.visible {
    right: 0;
  }
  #ribbon #menu-ribbon-button img {
    height: 24px;
    margin: auto;
  }
  #ribbon .logo {
    height: 30px;
    margin: auto;
  }
  #ribbon span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  #ribbon > div,
  #ribbon > span {
    margin: 0 auto;
  }

  /* Side, slide-in menu on desktop and tablet */

  #menu {
    background-color: hsl(0, 0%, 20%);
    position: fixed;
    top: 0;
    right: -700px;
    height: 100vh;
    width: 700px;
    padding: 50px;
    box-sizing: border-box;
    z-index: 69;
    transition-property: right;
    transition-duration: 400ms;
  }
  #menu.visible {
    right: 0;
  }

  #menu ul {
    font-size: 36px;
  }

  #menu a {
    color: hsl(0, 0%, 75%);
    font-weight: 400;
    transition-property: color;
    transition-duration: 300ms;
  }
  #menu a:hover {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
  }

  #menu-close-button {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  /* Content with About me */

  div#portrait-image {
    background-color: hsl(181.8, 47.5%, 72.4%);
  }
  div#portrait-image > img {
    max-width: 100%;
    max-height: 25rem;
  }

  /* Medium size: usually tablets and half-screen browsers */

  @media (min-width: 768px) and (max-width: 1300px) {
    html {
      font-size: 16px;
    }

    .padding-big {
      padding: 80px;
    }

    .two-column-grid {
      grid-column-gap: 50px;
      grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    }

    .font-small {
      font-size: 12px;
    }
    .font-normal {
      font-size: 16px;
    }
    .font-big {
      font-size: 20px;
    }
    .font-bigger {
      font-size: 24px;
    }
    .font-biggest {
      font-size: 36px;
    }
    .font-huge {
      font-size: 48px;
    }
    .font-display {
      font-size: 96px;
    }

    .interest-containter {
      width: 400px;
    }

    .icon-wrapper > img {
      height: 24px;
    }

    div.header-image {
      height: 32px;
    }

    div.text-image {
      font-size: 48px;
      height: calc(100% - 32px - 80px);
    }

    div.logo-image > img {
      height: 80px;
    }

    #menu {
      width: 550px;
      right: -550px;
    }

    #menu ul {
      font-size: 30px;
    }
  }

  /* Small size: usually smartphones */

  @media (max-width: 767px) {
    html {
      font-size: 16px;
    }

    .padding-big {
      padding: 40px;
    }

    .two-column-grid {
      grid-column-gap: 0;
      grid-template-columns: 50% 50%;
      grid-row-gap: 40px;
      grid-template-areas:
        'column-left column-left'
        'column-right column-right';
    }
    .two-column-grid.inverted-sm {
      grid-template-areas:
        'column-right column-right'
        'column-left column-left';
    }

    .font-small {
      font-size: 12px;
    }
    .font-normal {
      font-size: 16px;
    }
    .font-big {
      font-size: 18px;
    }
    .font-bigger {
      font-size: 20px;
    }
    .font-biggest {
      font-size: 24px;
    }
    .font-huge {
      font-size: 36px;
    }
    .font-display {
      font-size: 72px;
    }

    .interest-containter {
      width: 100%;
      padding: 40px;
    }

    a.button {
      min-width: 80px;
    }

    .icon-wrapper > img {
      height: 24px;
    }

    div.header-image {
      height: 24px;
    }
    div.header-image > .brand {
      font-size: 16px;
    }

    div.text-image {
      font-size: 24px;
      height: calc(100% - 21px - 60px);
    }

    div.logo-image > img {
      height: 60px;
    }

    #ribbon {
      top: -45px;
      right: 0;
      width: 100%;
      height: 45px;
      flex-direction: row-reverse;
      padding: 0 20px;
      transition-property: top;
    }
    #ribbon.visible {
      top: 0;
    }
    #ribbon span {
      writing-mode: horizontal-tb;
    }
    #ribbon > div,
    #ribbon > span {
      margin: auto 0;
    }

    #menu {
      top: 0;
      right: -100vw;
      width: 100vw;
      padding: 40px;
      transition-property: right;
      transition-duration: 400ms;
    }
    #menu.visible {
      right: 0;
    }

    #menu > div.center-y-flex {
      width: 100%;
    }

    #menu ul {
      font-size: 24px;
    }

    #menu h2 {
      max-width: 200px;
    }

    #menu-links,
    #menu-links > li,
    #menu-links > li > a {
      width: 100%;
    }

    #menu-links > li > a {
      display: inline-block;
      margin-bottom: 10px;
    }

    #menu-close-button {
      left: auto;
      top: 40px;
      right: 40px;
    }
  }
</style>
