---
export interface Props {
  frontmatter: {
    title: string
    date: string
    author?: string
    abstract?: string
    imgUrl?: string
    imgDescription?: string
  }
}

const { frontmatter } = Astro.props

const title = frontmatter.title
const date = frontmatter.date
const author = frontmatter.author ?? 'Blazej Sewera'
const abstract = frontmatter.abstract ?? ''
const imgUrl = frontmatter.imgUrl ?? ''
const imgDescription = frontmatter.imgDescription ?? ''
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style/swisstypefaces.css" />

    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={abstract} />
    <meta name="author" content={author} />
    <meta name="created" content={date} />
    <meta name="date" content={date} />

    <meta name="dcterms.title" content={title} />
    <meta name="dcterms.date" content={date} />
    <meta name="dcterms.abstract" content={abstract} />
    <meta name="dcterms.creator" content={author} />
    <meta name="dcterms.language" content="en-US" />
    <meta name="dcterms.license" content="CC BY-SA 4.0" />
    <meta name="dcterms.rights" content={`CC BY-SA 4.0 ${author}`} />

    <meta name="og:title" content={title} />
    <meta name="og:image" content={imgUrl} />
    <meta name="og:image:alt" content={imgDescription} />
    <meta name="og:type" content="article" />
    <meta name="og:description" content={abstract} />
    <meta name="og:site_name" content="blog.sewera.dev" />
    <meta name="article:published_time" content={date} />
    <meta name="article:author" content={author} />

    <title>{title} — blog.sewera.dev</title>
  </head>
  <body class="font-sans">
    <div id="ribbon">
      <div id="menu-ribbon-button" class="flex cursor-pointer">
        <img src="/menu.svg" alt="menu" />
        <span>{title}</span>
        <div>
          <a class="flex" href="/"
            ><img class="logo" src="/logo-white.svg" alt="home" />
          </a>
        </div>
      </div>
    </div>

    <div id="screen-image" class="padding-big text-white">
      <div class="header-image flex margin-bottom-header">
        <span class="brand center-y-flex font-bigger">
          <a href="/" title="Błażej Sewera" class="text-white weight-normal"
            >blog.sewera.dev</a
          >
        </span>
        <span
          id="menu-image-button"
          class="flex right-x-flex icon-wrapper cursor-pointer"
        >
          <img src="/menu.svg" alt="menu" />
        </span>
      </div>
      <div class="text-image flex">
        <h1 class="center-x-y-flex font-huge">{title}</h1>
      </div>
    </div>

    <article>
      <div class="post-wrapper flex">
        <div
          id="post-content"
          class="post-content prose prose-h1:font-geometric prose-h2:font-geometric prose-h3:font-geometric"
        >
          <slot />
        </div>
      </div>
    </article>

    <div class="footer flex">
      <img src="/logo-black.svg" alt="[magpie]" class="center-x-flex" />
    </div>
  </body>
</html>
